*{margin: 0; padding: 0; box-sizing: border-box;}

.heading{
  color: #fa9191;
  text-align: center;
  text-transform: capitalize;
  font-weight: bold;
  text-shadow: 0px 2px 4px #ffe9c5;
  margin: 50px 0px;
  font-family: 'Abril Fatface', cursive;
}

.div_greet{
  /* background-color: rgb(187, 240, 224); */
  color: #fa9191;
  text-align: center;
  text-transform: capitalize;
  font-weight: bold;
  text-shadow: 0px 2px 4px #ffe9c5;
  width: fit-content;
  margin: auto;
  padding: 2%;
  font-family: 'Abril Fatface', cursive;
}
.img_div{
  display: flex;
  justify-content: center;
  border: 2px solid rgb(221, 193, 247);
}

.img_div{
width: 250px;
height: 300px;
margin: auto;
}
